#contents
  #ContentsBody
    .Container
      %span.Guid
        %a#ContentsStart
      #Main
        %article.section
          .container
            %header.header.header--section
              %h2.text-middle
                .color-gray-light
                NEW TOPICS
            %ul#list-module.thumbnails
              - @tweets.each do |tweet|
                %li.col
                  = link_to "", class: "col_contents" do
                    = image_tag tweet.image_url do
                      .thumbnail_figure
                    .thumbnail__caption
                      %h3.text-xsmall.text-overflow
                        %span>
                          = tweet.country
                          ï¼
                          = tweet.title
      #Sub
        %aside.section
          %h4.text-small.hr-bottom--thin.no-space-bottom
            %i.icon-crown.color-gray-light>
            RANKING
          %ul.listview.listview--condensed.text-small
            %li
              .box
                .box__cell.w40.align-center
                  %p.label.bgcolor-gray-lighter.align-center
                    1
                .box__cell.pl1em
                  %p.text-xsmall.no-space
                    U.S.A.
          %ul.listview.listview--condensed.text-small
            %li
              .box
                .box__cell.w40.align-center
                  %p.label.bgcolor-gray-lighter.align-center
                    2
                .box__cell.pl1em
                  %p.text-xsmall.no-space
                    Thai
          %ul.listview.listview--condensed.text-small
            %li
              .box
                .box__cell.w40.align-center
                  %p.label.bgcolor-gray-lighter.align-center
                    3
                .box__cell.pl1em
                  %p.text-xsmall.no-space
                    Italia
          %ul.listview.listview--condensed.text-small
            %li
              .box
                .box__cell.w40.align-center
                  %p.label.bgcolor-gray-lighter.align-center
                    4
                .box__cell.pl1em
                  %p.text-xsmall.no-space
                    Canada
          %ul.listview.listview--condensed.text-small
            %li
              .box
                .box__cell.w40.align-center
                  %p.label.bgcolor-gray-lighter.align-center
                    5
                .box__cell.pl1em
                  %p.text-xsmall.no-space
                    Japan
