.main_header
  %nav.globalnav
    .globalnav__menu
      %ul.gmenu
        %li.logo
          = link_to '', class: "logo-header" do
            A f t e r H o u r s
        %li.entry_button
          = link_to '',class: "login-header" do
            L o g i n

