.main_header
  %nav.globalnav
    .globalnav__menu
      %ul.gmenu
        %li.logo
          = link_to root_path, class: "logo-header" do
            A f t e r H o u r s
        %li.entry_button
          = link_to new_tweet_path,class: "login-header" do
            N e w T o p i c

