.main_header
  %nav.globalnav
    .globalnav__menu
      %ul.gmenu
        %li.logo
          = link_to root_path, class: "logo-header" do
            AfterHours
        %li.entry_button
          = link_to tweets_new_path,class: "login-header" do
            NewTopic

