#contents {
  height: 670px;
  padding: 1em 0;
  display: block;
  color: #3b3e45;
}

#ContentsBody {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.Container {
  display: block;
  width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

span.Guid {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

#Main {
  width: 634px;
  display: inline-block;
}

.section {
  position: relative;
  padding: 20px;
  background-color: $white;
  box-shadow:0px 0px 5px 3px rgba(200, 234, 238, 0.411) inset
}

.container {
  display: block;
}

.header {
  position: relative;
  padding: 0 0.25em;
}

.header--section {
  margin-bottom: 1em;
  border-bottom: 3px solid rgb(251, 219, 92);
}

 h2.text-middle {
  font-size: 16px;
  margin: 0 0 0.5em 0;
  font-weight: 600;
  line-height: 1.2;
  display: block;
 }

 .color-gray-light {
  font-size: 20px;
  color: #8b8e96;
  line-height: 1;
}

i.far.fa-comment::before {
  font-family: 'bambi';
  content: "\f086";
  font-weight: 400;
}

.thumbnails {
  margin-top: 30px;
  padding-left: 0;
  list-style: none;
}

ul {
  display: block
}

.col {
  width: 139px;
  margin-bottom: 2%;
  clear: both;
  display: inline-block;
}

img {
  padding-left:4px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.thumbnail__figure {
  padding-top: 141.4%;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1) inset;
}

.thumbnail__caption {
  padding: 0.5em 0 0;
  display: block;
  line-height: 1.3;
  font-size: 12px;
  text-align: center;
}

#Sub {
  float: right;
  width: 300px;
  display: inline-block;
}

.hr-bottom--thin {
  border-bottom: 1px solid #d7dbe2;
  padding-bottom: 0.5em;
  font-size: 14px;
}

h4 {
  font-weight: 600;
  line-height: 1.2;
}

.listview--condensed>li {
  border-radius: 0;
  background: transparent;
  padding: 0.5em;
  margin: 0;
  border-bottom: 1px solid #d7dbe2;
}

.box {
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  width: 100%;
  list-style: none;
}

.w40 {
  width: 40px;
}

.align-center {
  text-align: center;
}

.box__cell {
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.label {
  min-width: 1em;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: bold;
  line-height: .99;
  padding: 0.4em 0.6em;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 1000px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.bgcolor-gray-lighter {
  background: rgba(2, 102, 252, 0.7);
  color: $white;
}

p.text-xsmall.no-space {
  font-size: 20px;
  margin: 10px 0;
}

p.label.bgcolor-gray-lighter.align-center {
  margin: 10px 0;
}
