body,
html {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url('背景.jpg');
  background-size: cover;
  font-family: 'Abel', sans-serif;
  
  .mainheader,.mainfooter {
    width: 100%;
    height: 100%;
  }

  .maincontents {
    width: 100%;
    height: 100%;
  }
}